{% extends 'base.html.twig' %}

{% block title %}Hello DimancheController!{% endblock %}

{% block body %}
<section>
    <div class="container">
        <h1 class="text-center">Les sorties du dimanche</h1>

    </div>
</section>
{% endblock %}
